@font-face {
    font-family: 'allerbold';
    src: url('/assets/aller_bd-webfont.eot');
    src: url('/assets/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_bd-webfont.woff2') format('woff2'),
         url('/assets/aller_bd-webfont.woff') format('woff'),
         url('/assets/aller_bd-webfont.ttf') format('truetype'),
         url('/assets/aller_bd-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'allerbold_italic';
    src: url('/assets/aller_bdit-webfont.eot');
    src: url('/assets/aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_bdit-webfont.woff2') format('woff2'),
         url('/assets/aller_bdit-webfont.woff') format('woff'),
         url('/assets/aller_bdit-webfont.ttf') format('truetype'),
         url('/assets/aller_bdit-webfont.svg#allerbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'alleritalic';
    src: url('/assets/aller_it-webfont.eot');
    src: url('/assets/aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_it-webfont.woff2') format('woff2'),
         url('/assets/aller_it-webfont.woff') format('woff'),
         url('/assets/aller_it-webfont.ttf') format('truetype'),
         url('/assets/aller_it-webfont.svg#alleritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aller_lightregular';
    src: url('/assets/aller_lt-webfont.eot');
    src: url('/assets/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/aller_lt-webfont.woff2') format('woff2'),
         url('/assets/aller_lt-webfont.woff') format('woff'),
         url('/assets/aller_lt-webfont.ttf') format('truetype'),
         url('/assets/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}